#WeighInContent_Container{
    margin:2%;
    box-shadow: 0px 0px 10px 5px gray;
    border-radius:5px;
    width: 90%;
    

    display:grid;
    grid-template-columns: 1fr 1px 1fr;
    grid-template-rows: 1fr 110px;
    padding:2%;
}
#WeighInContentLeft{
    display:grid;
    grid-template-columns: 1.5fr 3fr;
    grid-template-rows:40px;
    padding-right:5%;
    align-items: center;
}

#WeighInContentRight{
    display:grid;
    grid-template-columns: 1.5fr 3fr;
    grid-template-rows:40px;
    align-items: center;
    padding-left:5%;
    padding-right:5%;
}

#WeighInContentBottom{
    grid-column-start:1 ;
    grid-column-end:4 ;
    display:grid;
    grid-template-rows:20px 1fr 1fr 1fr;
    
    align-content:center;
}

#WeightStyle{
    margin-left:0;
    text-align:center;
    margin:auto;
    margin-bottom: 1%;
}

#WeightKGStyle{
    position: relative;
    right: 0;
    text-align: left;
}

#WI_WeightText{
    width:150px;
    background-color:transparent;
    outline: none;
    border:none;
    height:15px;
    padding:5px;
}

#WeighInButtonContainer{
    margin-top: 1%;
    margin-bottom: 2%;
}

#WeighInWeightTextContainer{
    
    background-color:#03437731;
    border: 1px solid black;
    margin:auto;
    margin-bottom: 1%;
    align-items:center;
    padding-right: 1%;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 13px;
}
#WeighInButton{
    width: 200px;
    height: 30px;

    border: 1px solid #2e2e2e;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: .8em;
    font-weight: bold;
    color:#232f46;
}

#WeighInButton:hover{
    
    animation: HoverButton linear 100ms;
    border: 1px solid #2e2e2e;
    background-color: #017eec;
    color:white;
    

}

@keyframes HoverButton{
    from{
        background-color: #03437731;
        color:#232f46;
    }
    to{
        background-color: #017eec;
        color:white;
    }
}